<h1>So.. where to from here?</h1>
<p>
  So, where do I want to go from here? 
</p>
<p>
  The reason I opted to undertake this amazing Web Immersive Development course with GA was to find a career that would play to my creative side. That said, I love databases and databasing, which is why learning full stack really appealed to me. 
</p>
<p>
  Learning and understanding the power and flexibility of the newer technologies available to me has been a real eye opener, In essence limits are ones own imagination.
</p>
<p>
  I guess my ideal role would to be working on projects that I can see through from beginning to end, and from front to back. I want to connect with the customer, understand their needs, picture what they see, and deliver a solution they are happy with.
</p>
<p>
  I am currently assisting a startup, by structuring their Business Information System sitting behind their newly developed app (currently an mvp) that will assist less able young readers to become confident independent readers.
</p>
