<h1>My life so far...</h1>
<p>
  Having spent over half a century on this planet, I have experienced a few things. Secondary School was in a small village called Coniston in the lake district, There is a mountain there called the old man, there is a lake on which speed records have been broken by Donald Campbell, and a steam boat Gondola sails on. I remember it for the school where I was regularly outside the headmasters office awaiting the cane, often four or six across your hands or backside. 
</p>
<p>
  I left school and got a job in a slate quarry, wielding hammer and chisel to produce roofing slates, yup thats how they did it then.. and still do it now!
</p>
<p>
  leaving there I completed an engineering apprenticeship with the MOD, played with field and naval guns (big ones) and made stuff out of metal using lathes, milling machines and the like.
</p>
<p>
  I put those skills into practice in jobbing shops and large manufacturing, eventually setting and programming CNC (computer numerically controlled) machines.
</p>
<p>
  From that I did a HND and then an Honours Degree in Computer studies, From that, about 16 years developing and supporting a variety of systems coding mainly in Databasic, with VBA throown in for fun.. though a couple of solid projects buit on it. 
</p>