<h1>It's all about me..</h1>
  <p>Hi! I'm Brian. Here is a bit about me</p>
  <%= image_tag 'Me2.jpg',:title => 'Just Me', class: 'img_std'  %>
  <p>I don't like to take life seriously, but I do like to think that I am serious about life. </p>
  <p>I suppose I can be a bit of a jester, and do enjoy fun company. Though, this does not preclude achieving great things. </p>
  <p>In my free time, I am an artist using several media, but mainly watercolour and pen.  I have exhibited in the Great Sheffield Art Show, and was a co-organiser with the show until moving to Cambridge in 2007.  In my time with them, I also designed and developed their networked sales system using MS Access/VBA.  Creative design runs in my veins, and developing the sales system was just as much fun as painting the watercolours I exhibited in the show. </p>
  <p>Over the last 30 years I have been keen to sample and explore the world of real ale.  For many years I joked that Americans can't brew beer, recent years have shown this to be  no longer the case, and I am happy to now say 'I like to explore real ales of the world'. </p>
