<h1>This is the photography Page</h1>
<p>
  So, I started taking photos at about 14yrs old, I went out with my dad [photo] to motocross and motorcycle trials events, the camera was a 2 1/4” square film format with bellows.. yes film, yes the stuff before digital, yes in inches, before 35mm film.. and before the little 110 film format, I shot on monochrome (that’s black and white for the youngsters).
</p>
<p>
  When I were a lad, there were essentially three ways to se a photo wot u took, take it down to the local chemist, that will have been boots for those in london, I was a country lad and from the lake district, so my village had a chemist, come haberdashery, drop the film there, the photo processor of his choice picked up the film took it 20 miles to windermere for processing, about 3 days later I could pick my photos up, or I could send them by post to be processed in a similar fashion, taking about a week to get my photos, Wanting speedy, I learned how to process them myself, so using my dads kit and his expert guidance i developed my film and in the darkroom processed my photos, this could essentially be done in about 3 or 4 hours. speedy huh!!
</p>
<p>
  I went through a couple of cameras and at the tender age of 16 I bought a a top flight multimode 35mm SLR (single lens reflex) camera for £350 yup, a lot of money in 1980. At the age of 18 I was at a BBC televised event called Kickstart and shot the photos for a national paper Trials and Motocross news.. centre spread, ok, by default as their photographer failed to turn up. but Hey thems the breaks!!
</p>
<p>
  I now have a Nikon D90 and don’t get out enough, but I have taken (in my opinion) one or two good photos, I still love Monochrome, and may one day be brought kicking and screaming into the modern world.
</p>
