<h1>Welcome to my workshop</h1>
<p class='wshop'>I mentioned my creativity, this is also expressed through another hobby of mine. I have a comprehensively kitted out workshop with specialist equipment and tools, allowing me to undertake D.I.Y and woodworking projects for the home, family and friends, I really enjoy developing new skills and mastering new machinery and tooling, along with improving my techniques and knowledge. </p>
<%= image_tag 'Jenga.jpg',:title => 'My Giant Jenga', class: 'img_med'  %>