<h1>Welcome to my workshop</h1>
<container class='siz40'>
  <p>
  Before I started this course, I spent a fair bit of time in my workshop, its my man cave, I miss it!</p>
  <p class='wshop'>I mentioned my creativity with art, this is also expressed through my hobby of diy and woodworking. I have a comprehensively kitted out workshop with specialist equipment and tools, table saw, lathe, bench power planer, and a host of other tools also, allowing me to undertake D.I.Y and woodworking projects for the home, family and friends, I really enjoy developing new skills and mastering new machinery and tooling, along with improving my techniques and knowledge.
  </p>
  <p>
    Over recent years, I took to remodelling the garden, like all successful projects good planning does not ensure success, but will certainly give you a better chance. I wanted to build a deck, Hmm tree iin the way, “lets make a feature of that!”, Prepare the ground, level the frame, yep, good to go!
  </p>
</container>
<container class='siz40'>
  <%= image_tag 'Jenga.jpg',:title => 'My Giant Jenga', class: 'img_med'  %>
</container>
<container class='siz40'>
  <%= image_tag 'deck.jpg',:title => 'The Deck Base', class: 'img_med'  %>
</container>
<p> With the base built down and level, build the top </p>
<container class='siz40'>
  <%= image_tag 'raisedbed.jpg',:title => 'Completed Deck and raised bed', class: 'img_med'  %>
</container>
<p>
 .. Oh, and I think a raised bed will look cool too.. But what I think will finish it of would be a pergola to perfectly fit this space.
</p>
<container class='siz40'>
  <%= image_tag 'pergola.jpg',:title => 'The pergola - my own design and work', class: 'img_med'  %>
</container>





